/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

.widget-container {
  border: solid 1px #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 189px;
  height: 300px;
  font-size:12px;
}

.widget-container .header {
  color: #222;
  height: 30px;
  border-bottom: solid 1px #ccc;
}

.widget-container .header:hover h1 {
  text-decoration: underline;
}

.widget-container .header h1 {
  font-size: 12px;
  margin: 3px 0 0 8px;
  display: inline-block;
}

.widget-container .header .github-icon {
  width: 22px;
  height: 22px;
  margin: 3px 0 0 5px;
  vertical-align: top;
  background: url(../images/github-icon.png) no-repeat 0 0;
  opacity: .65;
  display: inline-block;
}

.widget-container .commits-list {
  height: 300px;
  overflow-y:auto;
  line-height: 0.85em;
}

.widget-container .commits-list li {
  padding: 6px 8px;
  border-bottom: solid 1px #ccc;
}
.widget-container .commits-list li:last-child {
  border: none;
}

.widget-container .commits-list li .left {
  float: left;
}

.widget-container .commits-list li .right {
  margin-left: 52px;
}

.widget-container .commits-list li img {
  margin-top: 2px;
  border: solid 1px #ccc;
  padding: 2px;
  background-color: white;
}

.widget-container .commits-list li .commit-message {
  color: #222;
  font-size: 12px;
}

.widget-container .commits-list li .commit-meta {
  color: #555;
  font-size: 10px;
  font-weight:bold;
}

.widget-container .commits-list li .committer-name {
  font-weight: bold;
  color: #333;
}

.widget-container a {
  color: #222;
  text-decoration: none
}
.widget-container a:hover {
  text-decoration: underline;
}

.left_main_navi .left-menu-body, .right_main_navi .right-menu-body {
    background-image: url("http://www.ilch.de/include/designs/ilch2012/img/menu_spacer.png");
    background-repeat: repeat-y;
    padding: 6px 1px 6px 3px;
}

.left_main_navi .left-menu-top, .left_main_navi .left-menu-bottom, .right_main_navi .right-menu-top, .right_main_navi .right-menu-bottom {
    background-image: url("http://www.ilch.de/include/designs/ilch2012/img/menu_sprite.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 9px;
    width: 203px;
}

.left_main_navi .left-menu-top, .left_main_navi .left-menu-bottom, .right_main_navi .right-menu-top, .right_main_navi .right-menu-bottom {
    background-image: url("http://www.ilch.de/include/designs/ilch2012/menu_sprite.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 9px;
    width: 203px;
}
